<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <title>My Reports</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'whistleblower/style.css' %}">
    <script src="{% static 'whistleblower/functionality.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="title">My Reports</div>
        <div class="buttons">
            <button class="button" onclick="makeReport()">Make a Report</button>
            <button class="button" onclick="goBack()">Back To Home</button>
            <form id="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button">Logout</button>
            </form>
        </div>
    </header>

    <div class="content">

        {% if reports_list|filter_user:user.username %}
            <p>Below is a list of all the reports that you have submitted, along with their current statuses and any comments
                we can provide. If you click on the linked report names you will see the report you submitted with any notes
                from our staff regarding your report at the bottom. </p>

            <h2>New Reports</h2>
            {% if new_reports|filter_user:user.username %}
                <ul>
                    {% for report in reports_list %}
                        {% if report.user_name == user.username %}
                            {% if report.status == 'n' %}
                                <li><a href="{% url 'view_report' report.id %}">Report for {{report.date}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p> You have no new reports at this time.</p>
            {% endif %}

            <h2>In Progress Reports</h2>
            {% if in_progress_reports|filter_user:user.username %}
                <ul>
                    {% for report in reports_list %}
                        {% if report.user_name == user.username %}
                            {% if report.status == 'i' %}
                                <li><a href="{% url 'view_report' report.id %}">Report for {{report.date}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p> You have no reports in progress at this time.</p>
            {% endif %}

            <h2>Resolved Reports</h2>
            {% if resolved_reports|filter_user:user.username %}
                <ul>
                    {% for report in reports_list %}
                        {% if report.user_name == user.username %}
                            {% if report.status == 'r' %}
                                <li><a href="{% url 'view_report' report.id %}">Report for {{report.date}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>

            {% else %}
                <p> You have no resolved reports at this time.</p>
            {% endif %}

        {% else %}
            <p>You haven't made a report yet. Any reports you make can be accessed here along with their statuses and any
            relevant comments. </p>
        {% endif %}

    </div>
    {% include 'whistleblower/footer.html' %}

</body>
</html>
