<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Report Viewing Page</title>
    <!-- Note: Order matters here!! -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'whistleblower/style.css' %}">
    <script src="{% static 'whistleblower/functionality.js' %}"></script>

</head>
<body>
    <header class="header">
        <div class="title">Report View</div>
        <div class="buttons">
            {% if user.is_site_admin %}
                <button class="button" onclick="goBackToAdmin()">Back To Home</button>
            {% else %}
                <button class="button" onclick="goBackToMyReports()">Back To My Reports</button>
            {% endif %}

        </div>
    </header>

    <div class="content">
        <p><Strong>Report Submitted By:</Strong> {{ current_report.user_name }}</p>
        {% if current_report_file != 'Not Provided' %}
            {% if current_report_file_type == '.pdf' %}
                <embed src="{{ current_report_file }}" height="400" width="600" type="application/pdf"/>

            {% elif current_report_file_type == '.txt' %}
                <iframe src="{{ current_report_file }}" height="400" width="600"></iframe>

            {% elif current_report_file_type == '.jpeg' or current_report_file_type == '.jpg' or current_report_file_type == '.png'%}
                <img src="{{ current_report_file }}" alt="Image" height="400" width="600"/>

            {% else %}
                <p>The reporter submitted a file, but it was an unsupported file format</p>
            {% endif %}
        {% endif %}

        <p style="word-break: break-word; width: 90%"><Strong>Description:</Strong> {{current_report.description}}</p>
        <p><Strong>Approximate Date:</Strong> {{current_report.date}}</p>
        <p><Strong>Approximate Time:</Strong> {{current_report.time}}</p>
        {% if current_report.status == 'n' %}
            <p><Strong>Status:</Strong> New</p>
        {% elif current_report.status == 'i' %}
            <p><Strong>Status:</Strong> In Review</p>
        {% elif current_report.status == 'r' %}
            <p><Strong>Status:</Strong> Resolved</p>
        {% endif %}

        <p id="adminNotes" style="word-break: break-word; width: 90%">
            {% if current_report.admin_notes and current_report.admin_notes != "" %}
                <strong>Admin Notes: </strong>{{ current_report.admin_notes }}
            {% else %}
                <strong>Admin Notes: </strong> No site admins have added notes to this report yet, please check back in the future!
            {% endif %}
        </p>

        {% if user.is_site_admin %}
            <form method="post" action="{% url 'reopen_report' current_report.id %}">
                {% csrf_token %}
                <label for="notes" class="form-label">Update Admin Notes:</label>
                <div class="textarea-wrapper">
                    <textarea id="notes" name="notes" class="form-control" required maxlength="1000">{% if current_report.admin_notes and current_report.admin_notes != 'None' %}{{ current_report.admin_notes }}{% endif %}</textarea>
                    <span id="charCount" class="text-muted">0/1000</span>
                </div>
                <div>
                    <button class="button" type="button" id="submitNotes" style="margin-top:10px; margin-bottom: 10px">Upload Notes</button>
                </div>
                {% if current_report.status == 'r' %}
                    <p><button class="button" type="submit">Reopen Report</button></p>
                {% else %}
                    <p><button class="button" type="submit" formaction="{% url 'resolve_report' current_report.id %}" id="resolveButton">Resolve Report</button></p>
                {% endif %}
            </form>
        {% endif %}

        {% if not user.is_site_admin %}
            <form id="deleteForm" method="post" action="{% url 'delete_report' current_report.id%}">
                {% csrf_token %}
                <p><button class="button" type="button" id="deleteButton" data-toggle="modal" data-target="#deleteModal">Delete Report</button></p>
            </form>
        {% endif %}
    </div>

    {% include 'whistleblower/modals/deletion_warning.html' %}
    {% include 'whistleblower/footer.html' %}

</body>

</html>


